<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{%static 'images/crowMauler.png' %}"
                 alt="The Crow Mauler" />
        </div>
    <div>
        <img src="{{MEDIA_URL}}Eva.png" alt="Picture of Eva :)."/>
    </div>
    </body>

</html>